@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body{
  margin: 0;
  padding: 0;
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
}

.app-logo{
  text-align: center;
  margin-top: 70px;
}